# ===========================
# Python Cache
# ===========================
__pycache__/
*.py[cod]
*.pyo

# ===========================
# Virtual Environments
# ===========================
venv/
env/
.venv/
ENV/

# Conda Environments
dashboard/
timeseries/
myenvname/

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Build Files
# ===========================
build/
dist/
*.egg-info/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Environment Variables
# ===========================
.env